@font-face {
	font-family: "high-tower";
	src: url('/fonts/HTOWERT.TTF');
}

h1, h3, h4, h5, p {
	margin: 0;
	font-family: 'high-tower';
	font-weight: 200;
}

a {
	text-decoration: none;
	transition: ease 250ms;
}

h1 {
	font-size: 3rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.5rem;
}