body {
	.showreel {
		height: 40vh;
		width: 100vw;
		background-color: black;
	}

	.offers {
		display: flex;
		box-sizing: border-box;
		padding: 2.5rem 0;
		width: 100vw;
		flex-direction: column;
		align-items: center;
		color: #bd6565;
		background-image: linear-gradient(to bottom, rgba(#ececec, 1), rgba(#e6e6e6, 1));

		.offers-grid {
			margin-top: 2.5rem;
			width: 94%;
			box-sizing: border-box;
			padding: 0 10%;
			display: grid;
			grid-template-columns: 25% 25% 25% 25%;
			row-gap: 2rem;

			.single-offer {
				height: 400px;
				width: 320px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				// border-top-left-radius: 10px;
				// border-top-right-radius: 10px;
				border-radius: 10px;
				transition: 175ms ease;

				a {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;

					.header {
						width: 100%;
						height: 50px;
						text-align: center;
						border-radius: 10px;
						background-image: linear-gradient(to top, rgba(#000000, 0), rgba(#000000, 0.75));

						.place {
							margin: 10px auto;
							text-transform: uppercase;
							color: white;
							width: fit-content;
						}
					}

					.info {
						border-radius: 10px;
						width: 100%;
						height: 45%;
						box-sizing: border-box;
						padding: 1.5rem;
						background-image: linear-gradient(to bottom, rgba(#000000, 0), rgba(#000000, 0.75), rgba(#000000, 1));
						color: white;

						p {
							margin-top: 12px;
							width: fit-content;
							border-radius: 8px;
							text-align: center;
							padding: 6px;
							background-color: #bd6565;
							color: white;
							font-style: italic;
							font-size: 1.25rem;
						}
					}
				}
			}

			.single-offer:hover {
				transform: scale(1.01);
				box-shadow: rgba(#000000, 0.8) 0px 0px 10px 1px;
			}
		}
	}

	.about-us {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 80vh;
		width: 100vw;
		box-sizing: border-box;
		padding: 0 10%;
		color: white;
		background-image: url('/images/about-us-background.png');
		background-position: center;
		background-size: cover;

		.about-grid {
			display: grid;
			width: 100%;
			height: 80%;
			grid-template-columns: 35% auto;

			.img-wrapper {
				height: fit-content;
				width: 100%;
				text-align: center;
				margin: auto 0;
				// display: flex;
				// justify-content: center;
				// align-items: center;

				.languages {
					width: 100%;
					height: fit-content;
					display: grid;
					justify-content: center;
					justify-items: center;
					// padding: 0;
					// display: flex;
					// flex-direction: row;
					// gap: 2rem;
					// overflow-x: scroll;

					> * {
						opacity: 0;
						grid-area: 1/1;
						transition: all ease 300ms;
						width: fit-content;
						animation: move 14s infinite linear;
					}

					@for $i from 1 through 7 {
						.lang-wrap:nth-child(#{$i}n) {
							animation-delay: #{($i - 3) * 14/7}s;
						}
					}
				}
			}

			.junia-info {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				.upper {
					text-align: justify;
					font-size: 1.75rem;
				}

				.lower {
					text-align: center;
					font-size: 1.75rem;
					font-style: italic;
				}
			}
		}
	}

	.certificates {
		display: flex;
		width: 100vw;
		box-sizing: border-box;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		color: #bd6565;
		height: 50vh;
		padding: 4rem 10%;

		.info {
			height: 70%;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.wrapper {
				text-align: center;

				img {
					max-width: 450px;
					height: 100px;
					margin-bottom: 1rem;
				}

				h4 {
					font-style: italic;
				}
			}
		}
	}
}