{% extends "base.html" %}

{% block content %}

<div class="showreel">
	<div class="blur-layer">
		<h1>Discover the Emirates with Junia</h1>
		<h3>available in the following lanugages:</h3>
	</div>
	{% for image in section.extra.carousel %}
	<img class="bg-image" src="{{ image.image }}">
	{% endfor %}
	<div class="img-wrapper">
		<div class="languages">
			<div class="lang-wrap" onclick="changeLanguage()">
				<img src="languages/english.png">
				<h4>English</h4>
			</div>
			<div class="lang-wrap" onclick="changeLanguage()">
				<img src="languages/norwegian.png">
				<h4>Norwegian</h4>
			</div>
			<div class="lang-wrap" onclick="changeLanguage()">
				<img src="languages/german.png">
				<h4>German</h4>
			</div>
			<div class="lang-wrap" onclick="changeLanguage()">
				<img src="languages/swedish.png">
				<h4>Swedish</h4>
			</div>
			<div class="lang-wrap" onclick="changeLanguage()">
				<img src="languages/polish.png">
				<h4>Polish</h4>
			</div>
			<div class="lang-wrap" onclick="changeLanguage()">
				<img src="languages/russian.png">
				<h4>Russian</h4>
			</div>
			<div class="lang-wrap" onclick="changeLanguage()">
				<img src="languages/danish.png">
				<h4>Danish</h4>
			</div>
		</div>
	</div>
</div>

<div id="black-layer">
	<div id="info-popup">
		<img class="close" src="icons/close.png" onclick="showInfo('close')">
		<h1>TOUR INFO</h1>
		<div class="grid">
			<p id="info-para">Junia Tour Guide Consultancy creates personalized experiences for visitors looking to enjoy the beauty and culture of the United Arab Emirates. We provides exceptional hospitality to high-end guests that require top-tier services, with our multilingual tour guide services.</p>
			<div class="info">
				<div class="wrap">
					<img src="icons/time.png">
					<p id="info-time">4 hours</p>
				</div>
				<br>
				<div class="wrap">
					<img src="icons/location.png">
					<p id="info-location">Saadiyat Island, Abu Dhabi</p>
				</div>
			</div>
		</div>
		<a id="mail-button" href="mailto:bookings@juniatourism.com?subject=Booking (Tour Name)&body=Hi, I'd like to enquire about TOUR NAME for the date of *fill date here*">BOOK VIA EMAIL</a>
	</div>
</div>

<div class="offers" id="offers">
	<h1>TOUR THE EMIRATES OFFERS</h1>
	<div class="offers-grid">
		{% for offer in section.extra.table %}
		<div class="single-offer" style="background-image: url({{ offer.image }});" onclick="showInfo('{{ offer.num }}')">
			<a>
				<div class="header">
					<h4 class="place">{{ offer.place }}</h4>
				</div>
				<div class="info">
					<h4>{{ offer.title }}</h4>
					<p>from AED {{ offer.price }}</p>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

<div class="about-us" id="about-us">
	<h1>ABOUT US</h1>
	<div class="about-grid">
		<div class="junia-info">
			<p class="upper">Junia Tour Guide Consultancy creates personalized experiences for visitors looking to enjoy the beauty and culture of the United Arab Emirates. We provides exceptional hospitality with our multilingual tour guide services.</p>
			<p class="lower">Julia Undevik is an international tour guide expert, certified for Abu Dhabi and has a fluency in 7 different languages.</p>
		</div>
		<div class="image-carousel">
			<img src="about-images/2.jpg">
		</div>
	</div>
</div>

<div class="certificates">
	<h1>CERTIFICATIONS</h1>
	<div class="info">
		<div class="wrapper">
			<img src="certificates/abu-dhabi.png">
			<h4>Abu Dhabi Tour Guide</h4>
		</div>
	</div>
</div>

<script defer src="scripts/info.js"></script>

{% endblock %}