{% extends "base.html" %}

{% block content %}

<div class="showreel">
	<div class="blur-layer">
		<h1>Discover the Emirates with Junia</h1>
	</div>
	{% for image in section.extra.carousel %}
	<img src="{{ image.image }}">
	{% endfor %}
</div>

<div class="offers" id="offers">
	<h1>TOUR THE EMIRATES OFFERS</h1>
	<div class="offers-grid">
		{% for offer in section.extra.table %}
		<div class="single-offer" style="background-image: url({{ offer.image }});">
			<a href="">
				<div class="header">
					<h4 class="place">{{ offer.place }}</h4>
				</div>
				<div class="info">
					<h4>{{ offer.title }}</h4>
					<p>from AED {{ offer.price }}</p>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

<div class="about-us" id="about-us">
	<h1>ABOUT US</h1>
	<div class="about-grid">
		<div class="img-wrapper">
			<h2>LANGUAGES</h2>
			<div class="languages">
				<div class="lang-wrap" onclick="changeLanguage()">
					<img src="languages/norwegian.png">
					<h4>Norwegian</h4>
				</div>
				<div class="lang-wrap" onclick="changeLanguage()">
					<img src="languages/english.png">
					<h4>English</h4>
				</div>
				<div class="lang-wrap" onclick="changeLanguage()">
					<img src="languages/german.png">
					<h4>German</h4>
				</div>
				<div class="lang-wrap" onclick="changeLanguage()">
					<img src="languages/swedish.png">
					<h4>Swedish</h4>
				</div>
				<div class="lang-wrap" onclick="changeLanguage()">
					<img src="languages/polish.png">
					<h4>Polish</h4>
				</div>
				<div class="lang-wrap" onclick="changeLanguage()">
					<img src="languages/russian.png">
					<h4>Russian</h4>
				</div>
				<div class="lang-wrap" onclick="changeLanguage()">
					<img src="languages/danish.png">
					<h4>Danish</h4>
				</div>
			</div>
		</div>
		<div class="junia-info">
			<p class="upper">Junia Tour Guide Consultancy creates personalized experiences for visitors looking to enjoy the beauty and culture of the United Arab Emirates. Serving tourists since 201x, Junia provides exceptional hospitality to you, with our multilingual tour guide services.</p>
			<p class="lower">Julia Undevik is an international tour guide expert, certified for Abu Dhabi and has a fluency in 7 different languages.</p>
		</div>
	</div>
</div>

<div class="certificates">
	<h1>CERTFICATIONS</h1>
	<div class="info">
		<div class="wrapper">
			<img src="certificates/louvre.png">
			<h4>Louvre Abu Dhabi External Tour Guide</h4>
		</div>
		<div class="wrapper">
			<img src="certificates/abu-dhabi.png">
			<h4>Abu Dhabi Tour Guide</h4>
		</div>
	</div>
</div>

<script defer src="scripts/changeLang.js"></script>

{% endblock %}